p{
    font-family: Arial;
    font-size: 50px;

}
h1{
    box-sizing: border-box;
    width: 400;
    height: 50;
    margin: 0 auto;
    text-align: center;
    padding: 5px 10px;
    border: 4px solid black;
    border-radius: 5px;
    position: relative;
    top: 100px;
}
.title_banner{
    height: 250;
    border: 4px solid black;
}
.gallery{
    height: 500;
    border: 4px solid black;
}
h2{
    margin: 40 0 20 0;
    text-align: center;
}
.px_32_32{
    margin: 20 20;
    border: 4px solid black;
    height: 80;
    width: 80; 
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
figcaption{
    text-align: center;
}